{% extends "layout.html" %}
{% block body %}
<div class="jumbotron text-center">
<h1>Welcome to News24</h1>
"Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, dicta quasi? Repudiandae delectus"
                    " culpa consectetur, deleniti quibusdam molestiae inventore temporibus eaque, unde harum magni ipsa"
                    " soluta sequirepellat iste fuga",
<p class = "lead"></p>
{% if session.logged_in == NULL %}
    <a href="/register" class="btn btn-primary btn-lg">Register</a>
    <a href="/login" class="btn btn-success btn-lg">Login</a>
{% endif %}
</div>

{% endblock %}